In [7]:
import pandas as pd

In [2]:
df = pd.read_csv(
    'Data/nba.csv',
    index_col='Name',
    parse_dates=['Birthday'],
)
df.head()

C:\Users\OMID\AppData\Local\Temp\ipykernel_12572\2913388552.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [3]:
is_pf = (df['Position']=='PF')
after_1998 = (df['Birthday'] >= '1998-01-01')

In [4]:
after_1998

Name
Shake Milton      False
Christian Wood    False
PJ Washington      True
Derrick Rose      False
Marial Shayok     False
                  ...
Austin Rivers     False
Harry Giles        True
Robin Lopez       False
Collin Sexton      True
Ricky Rubio       False
Name: Birthday, Length: 450, dtype: bool

In [5]:
df[is_pf & after_1998]

                                     Team Position   Birthday   Salary
Name
PJ Washington           Charlotte Hornets       PF 1998-08-23  3831840
Rui Hachimura          Washington Wizards       PF 1998-02-08  4469160
Nicolas Claxton             Brooklyn Nets       PF 1999-04-17   898310
Darius Bazley       Oklahoma City Thunder       PF 2000-06-12  2284800
Grant Williams             Boston Celtics       PF 1998-11-30  2379840
Kevin Knox                New York Knicks       PF 1999-08-11  4380120
Nassir Little      Portland Trail Blazers       PF 2000-02-11  2105520
Jarred Vanderbilt          Denver Nuggets       PF 1999-04-03  1416852
Jalen McDaniels         Charlotte Hornets       PF 1998-01-31   898310
Jayson Tatum               Boston Celtics       PF 1998-03-03  7830000
Rodions Kurucs              Brooklyn Nets       PF 1998-02-05  1699236
Harry Giles              Sacramento Kings       PF 1998-04-22  2578800